{% extends 'base.html' %}

{% block header %}
  <h2 class="card-title text-center mt-5">{% block title %}Friends{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method = "POST">
    <div class="row">
     {% if not all_friends%}
     <img src="https://media2.giphy.com/media/HWFAUlreDsAdW/giphy.gif" alt="Responsive No Friends Gif" class="img-fluid rounded mx-auto d-block my-5">
     {% endif %}
     {% for user in all_friends %}
        <div class="col-sm-10 my-4 py-2 mx-auto">
        	<div class="card">
            <div class="card-body text-center border border-info d-flex justify-content-around align-items-center">
              <h5 class="card-title">{{user['username']}}</h5>
              <div class="d-flex justify-content-end">
                <input type='submit' class="btn btn-light ml-2" name='submit_{{user['friend_id']}}' value='Send Money'>
                <input type='submit' class="btn btn-dark ml-2" name='submit_{{user['friend_id']}}' value='Request Money'>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </form>
{% endblock %}