{% extends 'base.html' %}

{% block header %}
  <h2 class="card-title text-center my-5">{% block title %}User Portal{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form class="mt-5" method="post">
    <div class="container">
      <button class="btn btn-primary btn-block" type="submit" name='submit_button' value="All Users">All Users</button>
      <button class="btn btn-primary btn-block" type="submit" name='submit_button' value="Friends">Friends</button>
    </div>
  </form>
{% endblock %}