{% extends 'user/portal.html' %}

{% block header %}
  <h2 class="card-title text-center mt-5">{% block title %} Transaction Request {{type[0]|upper}}{{type[1:]}}{% endblock %}</h2>
{% endblock %}

{% block transaction%}
  <form method = "POST">
    <div class="row">
     {% for transaction in received_transactions %}
        <div class="col-sm-10 my-4 py-2 mx-auto">
        	<div class="card">
            <div class="card-body text-center border border-info d-flex flex-column align-items-center justify-content-center">
              <!-- <h5 class="card-title"> Current user id: {{transaction['user_id']}}</h5>
              <h5 class="card-title"> Current user username: {{current_username}}</h5> -->
              <div class="d-flex align-items-center justify-content-center border-bottom border-info w-25">
              	<h2 class="card-title d-inline-flex">{{transaction['username']}}</h2><span class="badge badge-dark ml-2"> User </span>
              </div>
              {% if transaction['request_type'] == 30 %}
              	<div class="border-bottom border-info w-50 mt-3">
                  <span class="badge badge-info"> Send Money </span>
              		<h4> You have received a request to <strong class="text-primary">send ${{transaction['amount']}} </strong> to <strong class="text-primary"> {{transaction['username']}} </strong></h4>
                  <h4> If you accept the request, you will have <strong class="text-primary">${{transaction['amount']}} </strong> debited from your account <strong class="text-danger"> (-${{transaction['amount']}}) </strong> </h4>
              	</div>
              <!-- <h5 class="card-title"> Friend user id: {{transaction['friend_id']}}</h5> -->
              <!-- <h5 class="card-title"> Request type: {{transaction['request_type']}}</h5> -->
              <!-- <h5 class="card-title"> Amount: {{transaction['amount']}}</h5> -->
              	<div class="text-center w-25 align mt-3 d-flex flex-row justify-content-center">
                	<input type='submit' class="btn btn-success mr-2" name="{{type}}_{{transaction['request_type']}}_{{transaction['friend_id']}}_{{transaction['amount']}}" value='Accept'>
                  <input type='submit' class="btn btn-danger" name="{{type}}_{{transaction['request_type']}}_{{transaction['friend_id']}}_{{transaction['amount']}}" value='Reject'>
                </div>

                {% elif transaction['request_type'] == 40 %}

                <div class="border-bottom border-info w-50 mt-3">
                  <span class="badge badge-info"> Receive Money </span>
                  <h4> You have received a request to <strong class="text-primary">receive ${{transaction['amount']}} </strong> from <strong class="text-primary"> {{transaction['username']}} </strong></h4>
                  <h4> If you accept the request, you will have <strong class="text-primary">${{transaction['amount']}} </strong> credited to your account <strong class="text-success"> (+${{transaction['amount']}}) </strong> </h4>
                </div>
              <!-- <h5 class="card-title"> Friend user id: {{transaction['friend_id']}}</h5> -->
              <!-- <h5 class="card-title"> Request type: {{transaction['request_type']}}</h5> -->
              <!-- <h5 class="card-title"> Amount: {{transaction['amount']}}</h5> -->
                <div class="text-center w-25 align mt-3 d-flex flex-row justify-content-center">
                  <input type='submit' class="btn btn-success mr-2" name="{{type}}_{{transaction['request_type']}}_{{transaction['friend_id']}}_{{transaction['amount']}}" value='Accept'>
                  <input type='submit' class="btn btn-danger" name="{{type}}_{{transaction['request_type']}}_{{transaction['friend_id']}}_{{transaction['amount']}}" value='Reject'>
                </div>
                
               {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </form>
{% endblock %}