{% extends 'user/portal.html' %}

{% block header %}
  <h2 class="card-title text-center mt-5">{% block title %} Transaction Request {{type[0]|upper}}{{type[1:]}}{% endblock %}</h2>
{% endblock %}

{% block transaction%}
  <form method = "POST">
    {%if not sent_transactions %}
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="https://media.giphy.com/media/98BKOjhIF4LPW/source.gif" alt="Confused Travolta" class="img-fluid">
        <h4> <strong> We couldn't find any transactions here! </strong></h4>
      </div>
      {% endif %}
    <div class="row">
     {% for transaction in sent_transactions %}
        <div class="col-sm-10 my-4 py-2 mx-auto">
        	<div class="card">
            <div class="card-body text-center border border-info d-flex flex-column align-items-center justify-content-center">
              <!-- <h5 class="card-title"> Current user id: {{transaction['user_id']}}</h5>
              <h5 class="card-title"> Current user username: {{current_username}}</h5> -->
              <div class="d-flex align-items-center justify-content-center border-bottom border-info w-25">
              	<h2 class="card-title d-inline-flex">{{transaction['username']}}</h2><span class="badge badge-dark ml-2"> User </span>
              </div>
              {% if transaction['request_type'] == 10 %}
              	<div class="border-bottom border-info w-50 mt-3">
                  <span class="badge badge-info"> Send Money </span>
              		<h4> You have sent a request to <strong class="text-primary">send ${{transaction['amount']}} </strong> to <strong class="text-primary"> {{transaction['username']}} </strong></h4>
              	</div>
              <!-- <h5 class="card-title"> Friend user id: {{transaction['friend_id']}}</h5> -->
              <!-- <h5 class="card-title"> Request type: {{transaction['request_type']}}</h5> -->
              <!-- <h5 class="card-title"> Amount: {{transaction['amount']}}</h5> -->
              	<div class="text-center w-25 align mt-3">
                	<input type='submit' class="btn btn-warning" name="{{type}}_{{transaction['request_type']}}_{{transaction['friend_id']}}_{{transaction['amount']}}" value='Pending' disabled>
                </div>

                {% elif transaction['request_type'] == 20 %}

                <div class="border-bottom border-info w-50 mt-3">
                  <span class="badge badge-info"> Receive Money </span>
              		<h4> You have sent a request to <strong class="text-primary">receive ${{transaction['amount']}} </strong> from <strong class="text-primary"> {{transaction['username']}} </strong></h4>
              	</div>
              <!-- <h5 class="card-title"> Friend user id: {{transaction['friend_id']}}</h5> -->
              <!-- <h5 class="card-title"> Request type: {{transaction['request_type']}}</h5> -->
              <!-- <h5 class="card-title"> Amount: {{transaction['amount']}}</h5> -->
              	<div class="text-center w-25 align mt-3">
                	<input type='submit' class="btn btn-warning" name="{{type}}_{{transaction['request_type']}}_{{transaction['friend_id']}}_{{transaction['amount']}}" value='Pending' disabled>
                </div>

               {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </form>
{% endblock %}