{% extends 'base.html' %}

{% block header %}
  <h2 class="card-title text-center mt-5">{% block title %}Remove Category{% endblock %}</h2>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
        	<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        		<div class="card card-signin my-5 shadow-lg p-3 mb-5 bg-light rounded">
        			<div class="card-body">
        				<form class="form-signin" method="post">
        					<div class="form-label-group">
        						<label for="category"></label>
    							<input name="category" id="category" class="form-control" placeholder="Remove a category" required>
        					</div>
        					<button class="mt-3 btn btn-lg btn-primary btn-block" type="submit" value="submit"> Submit</button>
        				</form>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
{% endblock %}