{% extends 'base.html' %}

{% block header %}
  <h2 class="card-title text-center my-5">
    {% block title %}
      {% if report_type == 'credit_report' %}
        Credit Report
      {% elif report_type == 'debit_report' %}
        Debit Report
      {% endif %}
    {% endblock %}
  </h2>
{% endblock %}

{% block chart %}
  <!-- bar chart canvas element -->
  <canvas id="myChart" width="600" height="400"></canvas>
  <script>
    var ctx = document.getElementById("myChart").getContext('2d');
    // Data getting in loaded properly; However, labels and backgroundColor have some junk
    // value attached; need to fix it
    var myChart = new Chart(ctx, 
    {
      type: 'doughnut',
      data: {
        labels: [{% for i in ranges %}
                  "{{labels[i]}}({{percent_values[i]}}%)",
                  {% endfor %}
                ],
        datasets: [{
          backgroundColor: [{% for item in colors %}
                  "{{item}}",
                  {% endfor %}
          ],
          data: [{% for item in values %}
                  {{item}},
                  {% endfor %}
          ]
        }]
      }
    });
  </script>
  
{% endblock %}