{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Expense Report{% endblock %}</h1>
{% endblock %}

{% block chart %}
  <!-- bar chart canvas element -->
  <canvas id="myChart" width="600" height="400"></canvas>
  <script>
    var ctx = document.getElementById("myChart").getContext('2d');
    // Data getting in loaded properly; However, labels and backgroundColor have some junk
    // value attached; need to fix it
    var myChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: {{ labels }},
        datasets: [{
          backgroundColor: {{ colors }},
          data: {{ values }}
        }]
  </script>
  
{% endblock %}