{% extends 'base.html' %}

{% block header %}
  <h2 class="card-title text-center mt-5">{% block title %}Add Expense{% endblock %}</h2>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <form class="form-signin" method="post">
              <div class="form-label-group">
                <label for="expense"></label>
                <input type="number" name="expense" id="expense" class="form-control" placeholder="Amount" required>
              </div>

              <div class="form-label-group">
                <label for="category"></label>
                <select class="custom-select" id = 'category' name='category'>
                  {% for category in categories %}
                    <option value = {{ category['id'] }}> {{ category['type'] }}</option>
                  {% endfor %}
                </select>
              </div>

              <button class="mt-3 btn btn-lg btn-primary btn-block" type="submit" value="submit"> Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}