{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add Expense{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST">
    <label for="expense"> Expense </label>
    <input type="number" name="expense" id="expense" required>
	
  	<label for="category"> Category </label>
    <select id = 'category' name='category'>
      {% for category in categories %}
  		  <option value = {{ category['id'] }}> {{ category['type'] }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="submit">
  </form>
{% endblock %}