{% extends 'base.html' %}

{% block header %}
  <h2 class="card-title text-center my-5">{% block title %}Expense Report{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form class="mt-5" method="post">
    <div class="container">
      <button class="btn btn-primary btn-block border-success" type="submit" name='submit_button' value="credit_report">Credit Report</button>
      <button class="btn btn-primary btn-block border-danger" type="submit" name='submit_button' value="debit_report">Debit Report</button>
      <button class="btn btn-primary btn-block" type="submit" name='submit_button' value="radial_report">Radial Report</button>
    </div>
  </form>
{% endblock %}