{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Update Expense{% endblock %}</h1>
{% endblock %}

{% block content %}
<h1>Expense id: {{current_expense['id']}}</h1>
<h1>Category Id: {{current_expense['category_id']}}</h1>
<h1>Type: {{current_expense['type']}}</h1>
<h1>Current Value: {{current_expense['value']}}</h1>
<form method="POST">
  <label for='value'> Enter new value: </label>
  <input type="number" id='value' name='value'>
  <input type='submit' value='submit'>
</form>
{% endblock %}