{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}View Expenses{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="row">
   {% for expense in all_expenses %}
      <div class="col-sm-6 my-4">
      	<div class="card">
          <div class="card-body">
            <h5 class="card-title">Category: {{expense['type']}}</h5>
            <p class="card-text">Value: ${{expense['value']}}</p>
            <a href="#" class="btn btn-primary">Update</a>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}